.env
venv
/services/__pycache__
/views/__pycache__
prueba.py
prueba1.py
/models/__pycache__
clientes.py
gestion_mecanica.db
/database/__pycache__
/controls/__pycache__
/components/__pycache__
fotos_personal
fotos_vehiculos
generated-b57a1f811c885e796e2b91dfe06cdfa48e9506677b221c96fe8d497e3ba16a59.ico
MecaSoft.spec
build
Mecasoft.
__pycache__
Mecasoft.iss